<h1>Eat Da Burger</h1>
<img src="https://images.vexels.com/media/users/3/144007/isolated/preview/6150d0cfaabb9b2fc29008ee0f8cf099-burger-fast-food-stroke-icon-by-vexels.png">
<div class="ready">
    <ul>
       {{#each burgers}} {{#unless devoured}} <ul><li>{{name}}</li>

	    <li><button class="eat" data-id="{{id}}" data-eaten="{{devoured}}">
		EAT ME
	</button>
    </li>
    </ul>
    {{/unless}} {{/each}}
    </ul>
</div>

<div class="eaten">
    {{#each burgers}} {{#if devoured}} {{name}} {{/if}} {{/each}}
</div>

<h2>Make a Burger</h2>
<form class="create-form">
    <div>
        <label for="ca">Burger:</label>
        <input type="text" id="ca" name="name">
    </div>

    <button type="submit">Add Burger</button>
</form>