<h1 class="title">Eat Da Burger</h1>
<img class="burgerImage" src="/assets/img/burger.png">
<div class="ready">

    <div class="form">
        <h2 class="formTitle">Make a Burger</h2>
        <form class="create-form">
            <div>
                <label for="ca">Burger:</label>
                <input type="text" id="ca" name="burger_name">
            </div>

            <button type="submit" class="eat" id="formButton">Add Burger</button>
        </form>
    </div>

    <div class="toEat">
        <h2 class="formTitle"> Ready To Eat</h2>
        <ul>

            {{#each burgers}} {{#unless devoured}}
            <li>
                {{burger_name}}
                <button class="eat" data-id="{{id}}" data-eaten="{{devoured}}">
                    EAT ME
                </button>
            </li>
            {{/unless}} {{/each}}

        </ul>
    </div>

    <div class="eaten">
        <h2 class="formTitle"> Eaten </h2>
        {{#each burgers}} {{#if devoured}}
            <p>
                {{burger_name}}
            </p>
        {{/if}} {{/each}}

    </div>

