body{
    background-color: #8080BF;
    text-align: center;
    color: #F3F2E5;
    width:960px;
    margin: auto;
}

ul{
    list-style-type:none;

}

.title{
    font-family: 'Galada', cursive;
    font-size:60px;
    text-align: center;
    margin-bottom: 1%;
}

.burgerImage{
    height:200px;
    margin:auto;
}

.eaten, .toEat{
    background-color: lightslategray;
    border: 5px solid #F3F2E5;
    border-radius:25px;
    line-height: 50px;
    font-family: 'Encode Sans Condensed', sans-serif;
    width: 45%;
    float: left;
    font-size: 20px;
}

.eaten{
    margin-left:70px;
}

.form{
    background-color: lightslategray;
    border: 5px solid #F3F2E5;
    border-radius:25px;
    width:100%;
    float: left;
    margin-bottom:50px;
    font-family: 'Encode Sans Condensed', sans-serif;
    padding-bottom:10px;
}

.formTitle{
    font-family: 'Galada', cursive;
    font-size: 35px;
    margin-bottom: 1%;
}

#formButton{
    margin-top:15px;
    font-family: "Encode Sans Condensed" , sans-serif;
    border-radius:25px;
    color:#F3F2E5;
    text-align: center;
    width:100px;
    height:30px;
    padding: 0;
    background-color: #374759;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.eat{
    font-family: "Encode Sans Condensed" , sans-serif;
    border-radius:25px;
    color:#F3F2E5;
    text-align: center;
    width:100px;
    height:30px;
    padding: 0;
    background-color: #374759;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}